.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 250px;
  background-color: var(--clr-white);
  border-bottom: 2px solid  var(--clr-lightgray);
}

.rightNav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--clr-primary);
  font-size: 25px;
  font-weight: 700;
}

.navbar {
  margin-left: 90px;
}

.navbar > ul {
  display: flex;
  list-style: none;
  gap: 2.563rem;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.iconNav {
  border: 1px solid var(--clr-lightgray);
  border-radius: 50px;
  padding: 10px;
}
