* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary: #0290ff;
  --clr-white: #fff;
  --clr-gray: #e8e8e8;
  --clr-ligthgray: #d3d3d3;
  --clr-black: #121212;
}

body {
  background-color: #f5f6fa;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
